<div class="jumbotron">
  <h1>Промоакции</h1>
  <a class="btn btn-success float-right mb-3 mr-3" href="/admin/categories/one" style="width: 100px">
    Добавить
  </a>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" >Название</th>
      <th scope="col" >Регион</th>
      <th scope="col" >Родительская</th>
      <th scope="col" >Сортировка</th>
      <th scope="col" class="text-center">Действие</th>
    </tr>
    </thead>
    <tbody>
    {{#each entities}}
      <tr>
        <th scope="row">{{ this.id }}</th>
        <td>{{ this.name }}</td>
        <td>{{ this.region.name }}</td>
        <td>{{ this.parent.name }}</td>
        <td>{{ this.sort }}</td>
        <td class="text-center">
          <a class="btn btn-warning mb-1" href="/admin/categories/one/{{ this.id }}" style="width: 100px">
            Изменить
          </a>
          <form action="/admin/categories/delete/{{ this.id }}" method="post">
            <button type="submit" class="btn btn-danger" style="width: 100px">
              Удалить
            </button>
          </form>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  {{#if entities.length }}
  {{else}}
    <h2>Записи не найдены</h2>
  {{/if}}
</div>